<section class="max-w-screen-xxl -mt-[100px] lg:max-w-screen-lg xl:max-w-screen-xl mx-auto md:px-3">
    <div class="flex justify-center">
        <div class="bg-[#2A3E61]  rounded-xl w-full px-[30px] py-[50px] z-[1] relative content-inner">
            <div class="flex flex-wrap gap-y-12 cool-bg font-primaryFont">
                <div class="w-full sm:w-1/2 lg:w-1/4 px-3 text-center">
                    <div>
                        <div>
                            <span class="text-[50px] font-bold text-white">
                                {{ counters[0].value + 'k'}}
                            </span>
                        </div>
                        <p class="font-secondaryFont text-white">Students</p>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 px-3 text-center">
                    <div>
                        <div>
                            <span class="text-[50px] font-bold text-white">
                                {{ counters[1].value | number:'1.0-0'}}%
                            </span>
                        </div>
                        <p class="font-secondaryFont text-white">Online Courses</p>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 px-3 text-center">
                    <div>
                        <div>
                            <span class="text-[50px] font-bold text-white">
                                {{ counters[2].value | number:'1.0-0' }}
                            </span>
                        </div>
                        <p class="font-secondaryFont text-white">Finished Seasons</p>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 px-3 text-center">
                    <div>
                        <div>
                            <span class="text-[50px] font-bold text-white">
                                {{ counters[3].value | number:'1.0-0'}}%
                            </span>
                        </div>
                        <p class="font-secondaryFont text-white">Satisfaction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>