<app-banner title="reset your password" path="forgot password"></app-banner>
<section class="w-full py-[100px]">
    <div class="md:container mx-auto sm:px-3">
        <div class="flex justify-center w-full h-full">
            <div class="px-3 w-full md:w-1/2">
                <div class="px-[20px] py-[40px] md:p-[40px] border rounded-md border-borderC shadow-lg">
                    <div class="text-center mb-[30px]">
                        <h2 class="capitalize text-[32px] mb-[16px] font-primaryFont text-heading font-bold block">
                            Reset your password
                        </h2>
                    </div>
                    <form method="post" (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm" class="text-left w-full">
                        <!-- Email -->
                        <div class="mb-[15px]">
                            <label
                                class="text-[13px] tracking-[1px] font-secondaryFont mb-[6px] text-text uppercase block font-semibold "
                                for="">
                                Email Address
                                <span>*</span>
                            </label>
                            <input type="email" formControlName="email" name="email" placeholder="Email"
                                class="py-[6px] w-full pl-[20px] outline-none block ease-in-out rounded-md pr-3 border-2 border-[#F5F5F5] bg-[#F5F5F5] h-[55px] focus:bg-white duration-300 focus:border-primary" />
                        </div>


                        <!--? Email validation -->


                        <div class="invalid-data mb-[15px] text-text text-sm" *ngIf="
                            forgotPasswordForm.controls['email'].invalid &&
                            forgotPasswordForm.controls['email'].touched &&
                            forgotPasswordForm.controls['email'].errors
                        ">

                            <div class="flex items-center" *ngIf="forgotPasswordForm.controls['email'].errors['required']">
                                <svg height="15" class="mr-2.5" style="overflow:visible;enable-background:new 0 0 32 32"
                                    viewBox="0 0 32 32" width="15" xml:space="preserve"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <g id="Error_1_">
                                            <g id="Error">
                                                <circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;" />
                                                <path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z"
                                                    id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                Email is required
                            </div>
                            <div class="flex items-center" *ngIf="forgotPasswordForm.controls['email'].errors['email']">
                                <svg height="15" class="mr-2.5" style="overflow:visible;enable-background:new 0 0 32 32"
                                    viewBox="0 0 32 32" width="15" xml:space="preserve"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <g id="Error_1_">
                                            <g id="Error">
                                                <circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;" />
                                                <path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z"
                                                    id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                Enter a valid email address
                            </div>
                        </div>


                        <!-- ? -->



                        <!-- Password -->
                        <div class="mb-[50px]">
                            <label
                                class="text-[13px] tracking-[1px] font-secondaryFont mb-[6px] text-text uppercase block font-semibold "
                                for="">
                                New Password
                                <span>*</span>
                            </label>
                            <input type="password" formControlName="password" name="password" placeholder="Password"
                                class="py-[6px] w-full pl-[20px] outline-none block ease-in-out rounded-md pr-3 border-2 border-[#F5F5F5] bg-[#F5F5F5] h-[55px] focus:bg-white duration-300 focus:border-primary" />
                        </div>

                        <!-- ? Password validator -->

                        <div class="invalid-data -mt-[30px] mb-[15px] text-text text-sm" *ngIf="
                        forgotPasswordForm.controls['password'].invalid &&
                        forgotPasswordForm.controls['password'].touched &&
                        forgotPasswordForm.controls['password'].errors
                     ">

                            <div class="flex items-center" *ngIf="forgotPasswordForm.controls['password'].errors['required']">
                                <svg height="15" class="mr-2.5" style="overflow:visible;enable-background:new 0 0 32 32"
                                    viewBox="0 0 32 32" width="15" xml:space="preserve"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <g id="Error_1_">
                                            <g id="Error">
                                                <circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;" />
                                                <path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z"
                                                    id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                Password is required
                            </div>
                            <div class="flex items-center" *ngIf="
                        (
                            forgotPasswordForm.controls['password'].errors['uppercase'] ||
                            forgotPasswordForm.controls['password'].errors['numeric'] ||
                            forgotPasswordForm.controls['password'].errors['specialCharacter'] || 
                            forgotPasswordForm.controls['password'].errors['minlength']) || 
                            forgotPasswordForm.controls['password'].errors['maxlength']  
                        ">
                                <svg height="15" class="mr-2.5" style="overflow:visible;enable-background:new 0 0 32 32"
                                    viewBox="0 0 32 32" width="15" xml:space="preserve"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <g id="Error_1_">
                                            <g id="Error">
                                                <circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;" />
                                                <path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z"
                                                    id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                Your password must contain at least 8 characters <br> (1 upper case, numeric, and
                                special character. For example: Pass!234)
                            </div>
                        </div>

                        <!-- ? -->

                        <!-- submit button -->
                        <div class="mb-[15px]">
                            <button type="submit"
                                class="bg-secondary text-white font-semibold duration-400 ease-in-out rounded-md w-full h-full transition-all hover:bg-primary"
                                style="padding: 0.6180469716em 1.41575em;">
                                Submit
                            </button>
                        </div>
                        <div class="mb-[15px] w-full flex justify-center items-center">
                            <a href="/login" class="text-center underline underline-offset-4">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>