<!-- banner -->
<section
  class="py-[90px] bg-no-repeat bg-cover z-[1] relative page-header"
  [ngStyle]="{ backgroundImage: 'url(' + banner + ')' }"
>
  <div class="mx-auto px-3 md:container">
    <div class="flex justify-center">
      <div class="p x-3 w-2/3">
        <div class="text-center">
          <h1
            style="
              color: #fff;
              line-height: 50px;
              margin-bottom: 20px;
              text-transform: capitalize;
              font-weight: 700;
              font-family: Gilroy, sans-serif;
            "
            class="md:text-[46px] text-[30px]"
          >
            {{ title }}
          </h1>
          <ul>
            <li class="path text-primary hover:text-secondary pr-[20px]">
              <a href=""> Home </a>
            </li>
            <li class="text-white inline-block capitalize">
              <span>
                {{ path }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
