<section class="h-full relative bg-[#2f2d51] py-[120px] pb-[220px]">
    <div class="max-w-screen-xxl lg:max-w-screen-lg xl:max-w-screen-xl mx-auto px-3">
        <div class="flex lg:flex-row flex-col items-center justify-center">
            <div class="w-full sm:w-[516px] md:w-[696px] lg:w-1/2 h-full flex px-3">
                <div>
                    <span class="font-semibold uppercase text-white text-[10px] sm:text-xs tracking-[2px] inline-block">
                        Over 3000 Course Available
                    </span>
                    <h1 class="font-primaryFont font-bold text-3xl sm:text-5xl my-2.5 sm:my-5 text-[#fff]">
                        Upgrade your learning Skills & Upgrade your life
                    </h1>
                    <p class="text-[#fff] opacity-70 text-sm sm:text-lg font-secondaryFont mb-[40px]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ullam libero magni reiciendis
                        quam ipsa blanditiis, facilis velit eaque illo?
                    </p>
                    <div class="btn md:container mb-3.5">
                        <a href="/courses"
                            class="border-2 text-xs sm:text-base font-primaryFont font-semibold py-[7px] sm:py-[14px] px-[15px] sm:px-[30px] bg-primary text-white border-primary rounded-lg hover:bg-secondary hover:border-secondary duration-[600ms] ease-in-out">Find
                            Courses</a>
                        <a href="/register"
                            class="ml-[8px] text-xs sm:text-base font-primaryFont font-semibold border-2 py-[7px] sm:py-[14px] px-[15px] sm:px-[30px] bg-white text-primary border-white hover:text-white hover:border-primary hover:bg-primary duration-[600ms] ease-in-out rounded-lg">Get
                            Started</a>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-[516px] md:w-[696px] lg:w-1/2 flex px-3">
                <div class="lg:pl-[48px] mt-[48px] lg:m-0">
                    <img src="../../../assets/banner_img.png" class="align-middle max-w-full" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<app-counter></app-counter>
<section class="py-[100px]">
    <div class="mx-auto md:max-w-screen-xl px-3">
        <div class="flex justify-center">
            <div class="px-3">
                <div class="mb-[70px] text-center">
                    <h2 class="text-[28px] sm:text-[35px] md:text-[40px] font-bold font-primaryFont">
                        Popular Courses
                    </h2>
                    <p class="font-secondaryFont text-text">
                        Discover Your Perfect Program In Our Courses.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap lg:justify-center">
            <!-- courses box -->
            <div class="px-3 w-full sm:w-1/2 lg:w-1/3">
                <!-- box -->
                <div class="hv-box mb-[30px] shadow-lg relative overflow-hidden duration-[400ms] rounded-md">
                    <!-- header  -->
                    <div>
                        <div class="relative">
                            <img src="../../../assets/img_06.jpg" class="w-full align-middle">
                            <div
                                class="absolute left-0 bottom-0 px-[15px] py-[6px] lg:py-[12px] bg-primary text-white font-bold font-primaryFont text-lg sm:text-xl duration-[400ms]">
                                $200</div>
                        </div>
                    </div>
                    <!-- course content -->
                    <div class="p-5 relative transition-all">
                        <!-- course reviews -->
                        <div class="mb-[10px] text-[13px]">
                            <i class="fa fa-star text-[#FFC78B]"></i>
                            <i class="fa fa-star text-[#FFC78B]"></i>
                            <i class="fa fa-star text-[#FFC78B]"></i>
                            <i class="fa fa-star text-[#FFC78B]"></i>
                            <i class="fa fa-star text-[#FFC78B]"></i>
                            <span class="text-text ml-[5px]">4.5 (40 reviews)</span>
                        </div>
                        <!-- course title -->
                        <h3 class="text-heading font-bold text-xl mb-[20px] font-primaryFont">
                            <a href="/">Data Competitive Strategy law & Organization</a>
                        </h3>
                        <!-- course footer -->
                        <div class="flex text-text text-sm font-semibold items-center justify-between mt-[20px]">
                            <!-- duration -->
                            <span class="text-center">
                                <i class="far fa-clock mr-2"></i>
                                6.5 hr
                            </span>
                            <!-- students -->
                            <span class="text-center">
                                <i class="fa-regular fa-user mr-2"></i>
                                80 Students
                            </span>
                            <!-- lessons  -->
                            <span class="text-center">
                                <i class="fa-regular fa-circle-play mr-2"></i>
                                97 Lessons
                            </span>
                        </div>
                    </div>
                    <!-- hover content -->
                    <div
                        class="pl-[30px] pt-[30px] pr-[25px] pb-[25px] bg-white absolute top-0 left-0 w-full h-full shadow-lg duration-[400ms] origin-center hv-content">
                        <div class="font-bold text-primary text-3xl">$200</div>
                        <h3
                            class="mt-[30px] sm:mt-[15px] md:mt-[30px] mb-5 sm:mb-[10px] md:mb-5 font-primaryFont text-heading font-bold text-xl">
                            <a href="/">
                                Data Competitive Strategy law & Organization
                            </a>
                        </h3>
                        <div class="mb-5 sm:mb-2.5 md:mb-5 flex items-center ">
                            <div class="mr-[24px]">
                                <img src="../../../assets/course-2.jpg"
                                    class="inline-block rounded-full w-[30px] h-[30px] mr-[5px]" alt="" />
                                <a href="">Jpsephin</a>
                            </div>
                            <span class="text-text text-sm">
                                <i class="far fa-file-alt text-secondary mr-[5px]"></i>
                                97 Lessons
                            </span>
                        </div>
                        <p class="hidden xs:block text-text text-base font-secondaryFont mb-[20px] sm:mb-[10px] md:mb-[20px]">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, culpa. At voluptatem autem
                            ipsam deleniti
                        </p>
                        <a href="/" class="-bottom-10 xs:bottom-auto font-semibold relative py-[8px] px-[22px] border-2 border-borderC bg-borderC text-[#222] capitalize duration-[600ms] ease-in-out hover:text-white hover:border-primary rounded-md hover:bg-primary">
                            join now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>