<div class="flex flex-wrap justify-start max-w-screen-xl mx-auto">
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
  <app-course-template
    class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
  ></app-course-template>
</div>
