<!-- courses box -->
<div class="px-3 w-full">
    <!-- box -->
    <div class="hv-box mb-[30px] shadow-lg relative overflow-hidden duration-[400ms] rounded-md">
        <!-- header  -->
        <div>
            <div class="relative overflow-hidden">
                <img src="../../../assets/img_06.jpg" class="hv-content w-full align-middle">
                <div
                    class="absolute bottom-0 px-[15px] py-[6px] lg:py-[12px] bg-primary text-white font-bold font-primaryFont text-lg sm:text-xl duration-[400ms] price-tag">
                    $200</div>
            </div>
        </div>
        <!-- course content -->
        <div class="p-5 relative transition-all">
            <!-- course reviews -->
            <div class="mb-[10px] text-[13px]">
                <i class="fa fa-star text-[#FFC78B]"></i>
                <i class="fa fa-star text-[#FFC78B]"></i>
                <i class="fa fa-star text-[#FFC78B]"></i>
                <i class="fa fa-star text-[#FFC78B]"></i>
                <i class="fa fa-star text-[#FFC78B]"></i>
                <span class="text-text ml-[5px]">4.5 (40 reviews)</span>
            </div>
            <!-- course title -->
            <h3 class="text-heading font-bold text-xl mb-[20px] font-primaryFont">
                <a href="/">Data Competitive Strategy law & Organization</a>
            </h3>
            <!-- course footer -->
            <div class="flex text-text text-sm font-semibold items-center justify-between mt-[20px]">
                <!-- duration -->
                <span class="text-center">
                    <i class="far fa-clock mr-2"></i>
                    6.5 hr
                </span>
                <!-- students -->
                <span class="text-center">
                    <i class="fa-regular fa-user mr-2"></i>
                    80 Students
                </span>
                <!-- lessons  -->
                <span class="text-center">
                    <i class="fa-regular fa-circle-play mr-2"></i>
                    97 Lessons
                </span>
            </div>
        </div>

        <!-- hover content -->
        <!-- <div
            class="pl-[30px] pt-[30px] pr-[25px] pb-[25px] bg-white absolute top-0 left-0 w-full h-full shadow-lg duration-[400ms] origin-center">
            <div class="font-bold text-primary text-3xl">$200</div>
            <h3
                class="mt-[30px] sm:mt-[15px] md:mt-[30px] mb-5 sm:mb-[10px] md:mb-5 font-primaryFont text-heading font-bold text-xl">
                <a href="/">
                    Data Competitive Strategy law & Organization
                </a>
            </h3>
            <div class="mb-5 sm:mb-2.5 md:mb-5 flex items-center ">
                <div class="mr-[24px]">
                    <img src="../../../assets/course-2.jpg"
                        class="inline-block rounded-full w-[30px] h-[30px] mr-[5px]" alt="" />
                    <a href="">Jpsephin</a>
                </div>
                <span class="text-text text-sm">
                    <i class="far fa-file-alt text-secondary mr-[5px]"></i>
                    97 Lessons
                </span>
            </div>
            <p class="hidden xs:block text-text text-base font-secondaryFont mb-[20px] sm:mb-[10px] md:mb-[20px]">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, culpa. At voluptatem autem
                ipsam deleniti
            </p>
            <a href="/" class="-bottom-10 xs:bottom-auto font-semibold relative py-[8px] px-[22px] border-2 border-borderC bg-borderC text-[#222] capitalize duration-[600ms] ease-in-out hover:text-white hover:border-primary rounded-md hover:bg-primary">
                join now
            </a>
        </div> -->
    </div>
</div>