<!-- courses box -->
<div class="px-3 w-full">
  <!-- box -->
  <div class="hv-box mb-[30px] shadow-lg relative overflow-hidden rounded-md">
    <!-- header  -->
    <div>
      <div class="relative overflow-hidden">
        <img [src]="course.imageUrl" class="hv-content w-full align-middle" />
        <div
          class="absolute bottom-0 px-[15px] py-[6px] lg:py-[12px] bg-primary text-white font-bold font-primaryFont text-lg sm:text-xl duration-300 price-tag">
          {{ '$' + course.price}}
        </div>
      </div>
    </div>
    <!-- course content -->
    <div class="py-5 px-[25px] relative transition-all">
      <div class="mb-2.5 text-text text-sm">
        <span class="relative mr-[18px] dot-after">
          <i class="far fa-play-circle mr-2 text-secondary"></i>
          48 Lectures <!-- Lectures quantity -->
        </span>
        <span> Advanced </span> <!-- Course level -->
      </div>
      <!-- header -->
      <h4
        class="max-h-[300px] line-clamp-2 text-heading hover:text-primary duration-300 font-primaryFont text-lg font-bold">
        <a href="/details" class="">
          {{ course.title }} <!-- Title -->
        </a>
      </h4>
      <!-- course footer -->
      <div class="flex mt-5 justify-between items-center">
        <span class="text-sm text-text font-semibold">
          <i class="fa-solid fa-user p-[5px] text-text mr-0.5"></i>
          {{course.user!.username}}<!-- Students quantity -->
        </span>
        <a href=""
          class="size-[40px] flex justify-center items-center rounded-full bg-buttonBG hover:bg-primary hover:text-white duration-300">
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>