<!-- courses box -->
<div class="px-3 w-full">
  <!-- box -->
  <div
    class="hv-box mb-[30px] shadow-lg relative overflow-hidden duration-[400ms] rounded-md"
  >
    <!-- header  -->
    <div>
      <div class="relative overflow-hidden">
        <img
          src="../../../assets/img_06.jpg"
          class="hv-content w-full align-middle"
        />
        <div
          class="absolute bottom-0 px-[15px] py-[6px] lg:py-[12px] bg-primary text-white font-bold font-primaryFont text-lg sm:text-xl duration-[400ms] price-tag"
        >
          $200
        </div>
      </div>
    </div>
    <!-- course content -->
    <div class="py-5 px-[25px] relative transition-all">
      <div class="mb-2.5 text-text text-sm">
        <span class="relative mr-[18px] dot-after">
          <i class="far fa-play-circle mr-2 text-secondary"></i>
          48 Lectures
        </span>
        <span> Advanced </span>
      </div>
      <!-- header -->
      <h4
        class="max-h-[300px] text-ellipsis overflow-hidden whitespace-nowrap line-clamp-2 text-heading font-primaryFont text-lg font-bold"
      >
        <a href="/details" class="">
          Education is About Forming Faithful Disciples
        </a>
      </h4>
      <!-- course footer -->
      <div class="flex mt-5 justify-between items-center">
        <span class="">
          <i
            class="fa fa-user border border-borderC px-[5px] py-[5px] rounded-full text-white bg-borderC mr-2"
          ></i>
        </span>
        <a href=""></a>
      </div>
    </div>
  </div>
</div>
